.wrap {
    display: flex;
    flex-wrap: wrap;
}
.wrap div {
    background: pink;
    flex-wrap: wrap;
    width: 10%;
    margin: 5px;
    padding: 11%;
}
.small {
    background-color: lightblue;
    padding: 10px;
    padding-top: 50px;
    margin: 3px;
}

.big {
    display: flex;
}

.to {
    width: 85%;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.aside {
    background-color: tomato;
    box-sizing: content-box;
    padding: 50px 50px 400px;
    margin: 3px;
    width: 15%;
}

.header {
    background-color: teal;
    padding: 40px;
    text-align: center;
    margin: 4px;
}

.nav {
    background-color: turquoise;
    padding: 10px;
    text-align: center;
    margin: 2px;;
}
.footer {
    background-color: wheat;
    padding: 40px;
    text-align: center;
}