.mainPDP.container {
    padding: 0 15%;
    margin-top: 13%;
    margin-bottom: 10%;
}

.book-detail {
    font-family: GT Super Bold, serif !important;
    font-size: 4rem;
}

.shadow-book {
    box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
}

.book-img {
    position: relative;
    width: 100%;
}

.book-cover-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-image: linear-gradient( 90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0666667) 4%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 0.0666667) 96%, rgba(0, 0, 0, 0.2) 100%);
}

.book-name {
    font-family: GT Super Bold, serif;
    font-size: 30px;
    font-weight: 600;
}

.book-info {
    font-weight: 600;
    font-family: GT Super Bold, serif;
}

.available {
    font-family: IBM Plex Sans, sans-serif;
    color: #1fa5a3;
    font-weight: 600;
    margin-top: 1rem;
}

.book-des {
    margin-top: 10%;
    font-family: GT Super Bold, serif;
    font-size: 24px;
    letter-spacing: -0.4px;
    line-height: 1.2;
    font-weight: 600;
}

.detail-des {
    margin-top: 20px;
}

.book-details {
    display: flex;
    margin-top: 20px;
}

.book-details-rightCol {
    margin-left: 20px;
}

.price {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #de2454;
    font-weight: 600;
}

.add-to-basket {
    width: fit-content;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 49, 49, 0.678);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-img {
    padding-top: 0.75rem;
}

.modal-box.row {
    border-radius: 1rem;
    border: solid dimgray;
    max-width: 450px;
    background-color: ivory;
}

.modal-button {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button-check:hover {
    background-color: rgba(222, 36, 84, 0.05);
    box-shadow: 1px 7px 13px 0px rgb(67 0 17 / 9%);
    transform: scale(1.02);
}

.modal-button-keep:hover {
    background-color: rgba(222, 36, 84, 0.05);
    box-shadow: 1px 7px 13px 0px rgb(67 0 17 / 9%);
    transform: scale(1.02);
}

.modal-button-check {
    width: 90%;
    margin-top: 6%;
    background-color: #de2454 !important;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    border-radius: 9999px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 1px 5px 0px rgb(67 0 17 / 0%);
    font-size: 15px;
    outline: none;
    padding: 0.4rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    border-width: 1px;
    border-color: #de2454;
    align-items: center;
    justify-content: center;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
}

.modal-button-keep {
    width: 90%;
    background-color: #fff !important;
    color: #de2454!important;
    border: solid #de2454 1px !important;
    border-radius: 50 !important;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    border-radius: 9999px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 1px 5px 0px rgb(67 0 17 / 0%) !important;
    font-size: 15px;
    outline: none;
    padding: 0.4rem 1.5rem !important;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
    white-space: nowrap;
}

@media (max-width: 576px) {
    .book-name {
        margin-top: 20px;
        font-size: 22px;
    }
}