* {
    list-style: none;
}

.menu {
    display: flex;
}

.features {
    background-color: coral;
}

.col-grid {
    width: 30%;
    margin-right: 4px;
}

.col-grid img {
    margin: 0 0 4px 0;
}

.section-books {
    max-width: 800px !important;
    margin: 0 auto;
}

.book-row {
    margin-bottom: 1.5rem;
}

.book-name {
    font-family: GT Super Bold, serif;
    font-size: 18px;
}