body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background: rgb(68, 105, 247);
    background: linear-gradient( 238deg, rgba(68, 105, 247, 1) 0%, rgba(246, 91, 245, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

div#todolists {
    margin: 0 auto;
}

form {
    margin: 0 14%;
}

button {
    color: white;
    background-color: transparent;
    border-block: none;
    border-width: 0;
}

h1 {
    color: white;
}

h2 {
    color: white;
    font-size: 1.5rem;
    width: 80%;
}

.container {
    display: flex;
    margin: auto;
    width: 100%;
    min-width: 450px;
    max-height: 800px;
    height: 650px;
}

.label-block {
    display: flex;
    justify-content: center;
}

.area1,
.area2 {
    /* For descritption and title */
    display: flex;
    justify-content: center;
}

::placeholder {
    color: rgba(255, 255, 255, 0.404);
}

.dots {
    height: 17px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

.dot1,
.dot2,
.dot3 {
    height: 100%;
    width: 17px;
    border-radius: 50%;
    margin: 0 7px 0 0;
}

.dot1 {
    background-color: #ff605c;
}

.dot2 {
    background-color: #ffbd44;
}

.dot3 {
    background-color: #00ca4e;
}


/* ---------Descritption area----------- */

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

textarea {
    width: 75%;
    height: 200px;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    padding: 1em;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    font-family: "Roboto", sans-serif;
}

textarea::-webkit-scrollbar {
    display: none;
}


/* ---------Title-area--------- */

input[type="text"] {
    padding: 1.5em;
    width: 85%;
    margin-bottom: 1.2em;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
}

input[type="text"]:focus {
    outline: none;
}


/* ----------Checkbox-area------------ */

input[type="checkbox"] {
    height: 1.2rem;
    width: 1.3rem;
}

.area3 {
    width: 80%;
    margin-bottom: 1.5em;
    margin-top: -1em;
}

.upperarea3 {
    /* To align checkboc */
    display: flex;
    justify-content: center;
}


/* ----------Save and Delete buttons----------- */

input[type="submit"] {
    margin-left: 0.4em;
    margin-top: 0.1em;
    margin-right: 0.6em;
    padding: 0.6em;
    width: 7em;
    border-width: 0;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}

.sv-and-dl {
    display: flex;
    width: 80%;
}

.svdlblock {
    display: flex;
    justify-content: center;
}

.new-task .sv {
    width: 80%;
    display: flex;
}

.svblock {
    display: flex;
    justify-content: center;
}

.sv input[type="submit"] {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dl input[type="submit"] {
    background-color: #f12727;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border: 1px solid rgba(157, 173, 173, 0.18);
}


/* ---------Tasks and taskarea---------- */

.tasks {
    min-height: 3em;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    margin: 0.7em auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.taskarea p {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.taskarea {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    width: 75%;
    min-width: 55%;
}

.uppertaskarea {
    display: flex;
    justify-content: center;
    height: 65%;
}

.taskarea::-webkit-scrollbar {
    display: none;
}


/* ---------Task-update and delete--------- */

.task-update-delete {
    display: flex;
    align-items: center;
    margin-left: 0.7em;
}

.delete,
.update {
    font-size: 1.4rem;
}

.delete a {
    margin-left: 0.8em;
    color: #f12727;
}

.update a {
    color: rgb(0, 162, 255);
}

.completed p {
    color: gray;
    text-decoration: line-through;
}


/* --------When task area is empty--------- */

.whenempty {
    height: 420px;
    line-height: 420px;
    text-align: center;
}

.whenempty h3 {
    color: rgba(255, 255, 255, 0.404);
    text-transform: capitalize;
    margin: 0;
}


/* --------Sider-area--------- */

.sider {
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
}


/* ------My-name-------- */

.my-name {
    border-radius: 5px;
    padding: 0.6em;
    width: 70%;
    margin: auto;
}

.my-name h2 {
    margin: 0;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(31, 38, 135, 0.37);
}

p {
    color: lavender;
}


/* ---------new-task-button----------- */

.new-task-button {
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.new-task-button a {
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
    margin-right: 1em;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


/* --------incomplete-task-------- */

.incomplete-task {
    border-radius: 5px;
    height: 5%;
    width: 70%;
    color: white;
}

.incomplete-task p {
    text-transform: capitalize;
    font-size: medium;
    text-shadow: 4px 4px 5px rgba(31, 38, 135, 0.37);
    font-weight: 400;
}

.incomplete-task-up {
    display: flex;
    justify-content: center;
}


/* -----------Hover-area---------- */

.new-task-button a:hover {
    background: rgba(0, 0, 0, 0.8);
}

.tasks:hover {
    background: rgba(0, 0, 0, 0.6);
}

.sv input[type="submit"]:hover {
    background: rgba(0, 0, 0, 0.8);
}

.dl input[type="submit"]:hover {
    filter: contrast(200%);
}

.dot1:hover {
    filter: contrast(200%);
}

.dot2:hover {
    filter: contrast(200%);
}

.dot3:hover {
    filter: contrast(200%);
}

.update:hover {
    filter: contrast(200%);
}

.delete:hover {
    filter: brightness(240%);
}