.container {
    width: 100% !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100vw;
}

.nav-link {
    font-family: GT Super Bold, serif;
    ;
}

.wrap-navbar {
    max-width: 1100px !important;
}

.menu {
    display: flex;
    margin-left: 800px;
}

.menu-item {
    margin: 20px 40px;
}

.bg-light {
    background-color: chocolate !important;
}

.search-item {
    margin-bottom: 4rem;
}

.footer {
    margin-top: 3%;
    background-color: #2b0f42;
    text-align: start;
    color: white;
}

.footer-group {
    margin-top: 5%;
    font-family: GT Super Bold, serif;
    font-size: 18px;
    line-height: 1.182em;
    letter-spacing: .035em;
    font-weight: 400;
}

.footer-bullet {
    font-family: GT Super Bold, serif;
    font-size: 11px;
    line-height: 1.4em;
    letter-spacing: .2em;
    font-weight: 400;
    color: white;
    margin: 0 0 13px;
}

.footer-bottom-wrap {
    padding: 1%;
    border-top-color: #383838;
    border-top-width: 1px;
    border-top-style: solid;
}

.footer-bottom-title {
    text-align: center;
    font-family: "EB Garamond";
    color: white;
    font-size: 14px;
}

.footer-logo {
    width: 80%;
}

.wrap-icons {
    display: flex;
}

.social-icons {
    margin-right: 5px;
}

.follow-us {
    margin-right: 5px;
}

.swiper-img {
    max-width: 100%;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
    height: 110% !important;
    object-fit: cover !important;
}

.product-img {
    height: 90% !important;
    object-fit: cover !important;
}

.swiper-img:hover {
    transform: scale(1.05);
}

.swiper-slide {
    height: unset !important;
    object-fit: cover !important;
}

.container-swiper {
    margin: 0 auto;
    max-width: 1000px;
}

.section {
    display: flex;
    margin-top: 6%;
    margin-bottom: 2%;
}

.avatar {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0 1px 4px 0 rgb(40 29 50 / 20%);
}

.slogan {
    margin-left: 3%;
    font-family: GT Super Bold, serif;
    color: var(--color-secondary-dark);
    font-size: 34px;
    letter-spacing: -0.6px;
    line-height: 60px;
}

.carousel-caption {
    display: none;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    display: none;
}

.signup-section {
    margin-top: 3rem;
    align-items: center;
    background-color: #ffeee6;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    text-align: center;
}

.signup-title {
    text-align: start;
    font-family: GT Super Bold, serif;
    font-size: 30px;
    font-weight: 600;
}

.sub-signup-title {
    font-family: GT Super Bold, serif;
    text-align: start;
}

.form-input {
    background-color: #fff;
    border-radius: 99px;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #f6f5f7;
    font-size: 14px;
    padding: 15px;
    height: 40px;
    width: 300px;
}

.mobile-banner {
    display: none;
}

.wrap-section-banner {
    margin-top: 1rem;
    height: 30rem !important;
    background-color: #573ba3;
    margin-bottom: 1rem;
    height: 13rem;
    overflow: hidden;
    position: relative;
}

.section-banner {
    position: relative;
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    font-family: IBM Plex Sans, sans-serif;
    color: white;
}

.top-caption {
    font-family: GT Super Bold, serif;
    font-size: xxx-large;
}

.banner-grid {
    width: 55%;
    transform: rotate(-30deg) translate(0%, -27.5%);
    max-height: 200%;
    width: 60%;
    display: flex;
}

.banner-img {
    position: relative;
    margin-top: 50px;
}

.banner {
    height: fit-content;
    background-color: #573ba3;
}

.cart-mobile {
    display: none;
}

h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    line-height: 3.2;
}

.wrap-news {
    margin-top: 50px;
    margin-bottom: 30px;
}

.news {
    margin-top: 20px !important;
}

.news-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 1.2;
    cursor: pointer;
}

.wrap-ham {
    display: flex;
}

.wrap-cart-mobile {
    margin-right: 20%;
}

.small-search {
    display: none;
}

.me-auto.navbar-nav {
    margin-top: 10px;
}

@media (max-width: 998px) {
    .container-swiper {
        padding: 2% 5%;
    }
    .cart-mobile {
        margin-right: 5%;
        display: block !important;
    }
    .cart {
        display: none !important;
    }
    .container {
        width: 100% !important;
    }
    a.nav-link.active {
        box-sizing: border-box;
        border-radius: 9px;
        border-width: 0.5px;
        border-style: double;
        border-color: #0000005c;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        text-align: center;
    }
    .footer-logo {
        width: 40%;
    }
    .wrap-section-banner {
        display: none;
    }
    .mobile-banner {
        display: block;
    }
}

@media (max-width: 766px) {
    .footer-logo {
        width: 40%;
    }
    .big-search {
        display: none;
    }
    .small-search {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .news {
        padding: 0 0;
    }
}

@media (max-width: 675px) {
    .wrap-section-banner {
        height: 20rem !important;
    }
    .slogan {
        font-size: 20px;
        line-height: 45px;
    }
    .avatar {
        height: 3rem;
        width: 3rem;
        ;
    }
    .sub-signup-title {
        font-size: 12px;
    }
    .footer-logo {
        width: 50%;
    }
    .wrap-cart-mobile {
        margin-right: 7%;
    }
    .footer-mobile {
        padding-left: 20% !important;
    }
    .form-input {
        width: fit-content;
    }
    .signup-title {
        font-size: 13px;
    }
}

@media (max-width: 385px) {
    .wrap-section-banner {
        height: 12rem !important;
    }
    .slogan {
        font-size: 14px;
        line-height: 30px;
    }
    .avatar {
        height: 2rem;
        width: 2rem;
        ;
    }
    .button {
        font-size: 10px;
    }
    .navbar {
        flex-wrap: nowrap;
    }
    .navbar-light .navbar-toggler {
        border: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
    .footer-group {
        font-size: 15px;
    }
    .form-input {
        width: 150px;
    }
    .signup-title {
        font-size: 12px;
    }
    .sub-signup-title {
        font-size: 12px;
    }
}